body{
    background-image: linear-gradient(blue,black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125vh;
    overflow-x: hidden;
    margin: 0;
    font-family:monospace;
    font-size:50px;
    color:white;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:12px;
    font-size:20px;
}
.GridCont{
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    position:absolute;
    top:75px;
    text-align: center;
}
.GridBox{
    width:350px;
    height:500px;
    background-color: darkblue;
    position:relative;
    
    margin:100px;
}

.GridTextBox{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    width:350px;
    height: 100px;
    background-color: rgb(7, 7, 177);
    position:relative;
    left:100px;
    bottom: 180px;
    font-size:20px;
    padding:2px;
    vertical-align: top;
    border-radius: 15px;   
}
Header{
    text-align: center;

}
.TextBlurb{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    background-color: rgb(7, 7, 177);
    width:75%;
    padding: 3px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

#HomeIcon{
    height: 50px;
    width:auto;
    position:absolute;
    top: 25px;
    left:25px;
    background-color:rgb(7, 7, 177);
}

img{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    object-fit: cover;
    object-position: 100% 35%;
    width:350px;
    height:400px;
    transition: transform .4s;
}
img:hover{
    transform: scale(1.1);
    z-index:1;
}