body{
    background-image: linear-gradient(red,black);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family:monospace;
    font-size:50px;
}
.GridCont{
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    position:absolute;
    top:75px;
    text-align: center;
}
.GridBox{
    width:350px;
    height:500px;
    background-color: darkred;
    position:relative;
    
    margin:100px;
}
Header{
    text-align: center;

}

.TextBlurb{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    background-color: rgb(255, 75, 75);
    width:75%;
    padding: 3px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

#HomeIcon{
    height: 50px;
    width:auto;
    position:absolute;
    top: 10px;
    left:10px
}

img{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    object-fit: cover;
    
    width:350px;
    height:500px;
    transition: transform .4s;
}

img:hover{
    transform: scale(1.1);
    z-index:1;
}

#LeClercImg{
    object-position: 50% 50%;
}

#SpaImg{
    object-position: 50% 30%;
}

#TeamImg{
    object-position: 50% 50%;
}
