body{
    background-image: linear-gradient(teal, darkgray);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125vh;
    overflow-x: hidden;
    margin: 0;
    color: white;
    font-family:monospace;
}
header{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:12px;
    font-size:20px;
}

.txtlnk:link, .txtlnk:visited {
  background-color: rgb(60, 182, 182);
  color: white;
  padding: 2px 4px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

.txtlnk:hover, .txtlnk:active {
  background-color: red;
}

#linkBoxDiv{
    background-image: linear-gradient(darkgray,black);
}
.InfoBox{
    font-size:50px;
}
.TextBlurb{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    background-color: rgb(54, 163, 163);
    width:75%;
    padding: 3px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

#HomeIcon{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    height: 50px;
    width:auto;
    background-color:rgb(4, 243, 243);
    position:absolute;
    top: 10px;
    left:10px;
    transition: transform .4s;
    
}
#HomeIcon:hover{
    transform: scale(1.1);

}

#FerrariBox{
    position:absolute;
    top:200px; 
    left:10px; 
    bottom:100px; 
    right:50px;
    width: 475px;
    height:525px;
    background-image: linear-gradient(red,black);
}

#SEGABox{
    position:absolute;
    top:200px; 
    left:535px; 
    bottom:100px; 
    right:10px;
    width: 475px;
    height:525px;
    background-image: linear-gradient(blue,black);
}

#NatureBox{
    position:absolute;
    top:200px; 
    left:1060px; 
    bottom:100px; 
    right:50px;
    width: 475px;
    height:525px;
    background-image: linear-gradient(green,black);
}
.BigBoxes{
    border: solid rgb(54, 53, 53) 2px;
    margin: 1px;
    padding:15px;   
    text-align:center;
    border-radius: 7px;
    transition: transform .4s;
}

.LittleBoxes{
    border:solid rgb(128,128,128,0.25) 1px;
    background-color: rgb(169, 169, 169,0.15);
    border-radius:7px;
    height: 200px;
    font-size: 25px;
}


#FerrariF1img:hover{
    transform: scale(1.1);
    z-index:1;
}

#FerrariF1img{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    object-fit: cover;
    object-position: 50% 100%;
    width:450px;
    height:250px;
    transition: transform .4s;
}
#NaturePhoto{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    width:450px;
    height:250px;
    transition: transform .4s;
}
#NaturePhoto:hover{
    transform: scale(1.1);
    z-index:1;
}
#SegaLogo{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    width:450px;
    height:250px;
    transition: transform .4s;
}

#SegaLogo:hover{
    transform: scale(1.1);
    z-index:1;
}