body{
    background-image: linear-gradient(red,black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125vh;
    margin: 0;
    font-family:monospace;
    font-size:50px;
    color:white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:12px;
    font-size:20px;
    color:white;
}
#footer-p{
    position: absolute;
    bottom:0;
    text-align: center;
    width:100%
}
.GridCont{
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    width:100%;
    position:relative;
    top:10%;
    text-align: center;
    justify-content: center;
}
.GridBox{
    top:15%;
    width: 30%;
    height:85%;
    background-color: darkred;
    position:relative;
    left:15%; 
}

.GridTextBox{
    border:solid gray 3px;
    background-color: rgb(236, 95, 95);
    position:relative;
    left:13%;
    border-radius: 15px; 
    height: 75%;
    max-height:15%;
    width: 50%;
    padding:1%;
    font-size:3vh;
}

Header{
    text-align: center;

}

.TextBlurb{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    background-color: rgb(255, 75, 75);
    width:75%;
    padding: 3px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

#HomeIcon{
    height: 50px;
    width:auto;
    position:absolute;
    top: 10px;
    left:10px;
    background-color: rgb(255, 75, 75)
}
#HomeIcon:hover{
    transform: scale(1.1);
}
#HomeIcon:click{
    transform: scale(0.55);
}

img{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    object-fit: cover;
    
    width:350px;
    height:400px;
    transition: transform .4s;
}

img:hover{
    transform: scale(1.1);
    z-index:1;
}

#LeClercImg{
    object-position: 50% 50%;
}

#SpaImg{
    object-position: 50% 30%;
}

#TeamImg{
    object-position: 50% 50%;
}
