body{
    background-image: linear-gradient(red,black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125vh;
    margin: 0;
    font-family:monospace;
    font-size:50px;
    color:white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:12px;
    font-size:20px;
}
.GridCont{
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    position:absolute;
    top:75px;
    text-align: center;
}
.GridBox{
    width:350px;
    height:500px;
    background-color: darkred;
    position:relative;
    
    margin:100px;
}

.GridTextBox{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    width:350px;
    height: 100px;
    background-color: rgb(236, 95, 95);
    position:relative;
    left:93px;
    bottom: 180px;
    font-size:20px;
    padding:3px;
    vertical-align: center;
    border-radius: 15px;   
}

Header{
    text-align: center;

}

.TextBlurb{
    border:solid gray 3px;
    border-radius:  0 0 70px 70px;
    background-color: rgb(255, 75, 75);
    width:75%;
    padding: 3px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

#HomeIcon{
    height: 50px;
    width:auto;
    position:absolute;
    top: 10px;
    left:10px;
    background-color: rgb(255, 75, 75)
}

img{
    border-radius: 7px;
    box-shadow: 0 0 8px 8px black;
    object-fit: cover;
    
    width:350px;
    height:400px;
    transition: transform .4s;
}

img:hover{
    transform: scale(1.1);
    z-index:1;

}

#LeClercImg{
    object-position: 50% 50%;
}

#SpaImg{
    object-position: 50% 30%;
}

#TeamImg{
    object-position: 50% 50%;
}
